@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gengboy";
  src: url("../../public/Fonts/Gengboy.ttf") format("truetype"),
    url("../../public/Fonts/Gengboy.otf") format("otf"),
    url("../../public/Fonts/Gengboy.woff") format("woff");
}

body {
  background: url("../../public/Images/pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer base {
  container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.i {
  color: #da5a2a;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute;
  color: #34251d;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
